[submodule "protofiles"]
	path = protofiles
	url = https://github.com/ViswaCoder/proto.git
[submodule "proto"]
	path = proto
	url = https://github.com/ViswaCoder/proto.git
[submodule "src/proto"]
	path = src/proto
	url = https://github.com/ViswaCoder/proto.git
[submodule "src/protos"]
	path = src/protos
	url = https://github.com/ViswaCoder/proto.git
